<div class="container">
    <h3>Cursos</h3>
    <div id="carruselCursos" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/imagen1.jpg" class="d-block w-30" alt="Curso 1">
          <div class="carousel-caption d-none d-md-block">
            <h5>Curso SERVICIO DE INFORMÁTICA EDUCATIVA</h5>
            <p>Es un servicio que Sistemas UNI ofrece a las instituciones educativas de Lima y Provincias, con la finalidad de certificar mediante un examen el aprendizaje adquirido por los estudiantes en los cursos dictados por su docente relacionado al conocimiento y uso de las Tecnologías de Información, confirmando de esta manera la calidad de enseñanza impartida del centro educativo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/imagen2.jpg" class="d-block w-30" alt="Curso 2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Curso INGENIERIA DE REQUERIMIENTOS</h5>
            <p>Proporcionar al participante los principios y técnicas necesarias de UML para poder analizar en profundidad los requerimientos y luego diseñar una solución, dejando el camino allanado a los programadores para que puedan empezar con la etapa de programación.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/imagen3.jpg" class="d-block w-30" alt="Curso 3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Curso ALGORITMO Y ESTRUCTURA DE DATOS BÁSICO</h5>
            <p>El presente curso se constituye en un componente formativo clave y ruta crítica en la línea de especialización para el análisis, desarrollo e implementación de soluciones computacionales e informáticas aplicadas a distintas ramas de la ciencia y los negocios. La base teórica del curso se fundamenta en los métodos que permiten visualizar el flujo de datos a lo largo de una secuencia.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/imagen4.jpg" class="d-block w-30" alt="Curso 4">
          <div class="carousel-caption d-none d-md-block">
            <h5>TESTING QA</h5>
            <p>El QA tester interviene durante todas las etapas de la cadena de producción, centrándose más en la prevención que en la detección. Su objetivo es dotar de la correspondiente garantía a los productos que se fabrican y que su calidad se ajuste a las necesidades y objetivos establecidos previamente.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carruselCursos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carruselCursos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
