<table>
    <tr>
      <th>ID</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de Nacimiento</th>
      <th>Dirección</th>
      <th>Correo</th>
      <th>Teléfono</th>
    </tr>
    <tr *ngFor="let alumno of alumnos">
      <td>{{ alumno.id }}</td>
      <td>{{ alumno.nombres }}</td>
      <td>{{ alumno.apellidos }}</td>
    <td>{{ alumno.fechaNacimiento }}</td>
    <td>{{ alumno.direccion }}</td>
    <td>{{ alumno.correo }}</td>
    <td>{{ alumno.telefono }}</td>
  </tr>
</table>
<button (click)="navigateToFormularioAlumno()">Agregar Nuevo Alumno</button>

